/* Nav Bar */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  color: white;
  font-size: 35px;
  font-weight: bold;
  margin-right: 12rem;
}

.fa-tree {
  color: forestgreen;
  padding-right: 1.5rem;
}

nav {
  background: black;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem;
}

nav ul li {
  display: inline-flex;
  margin: 0 1.5rem;
  font-size: 20px;
}

a:active {
  color: green;
}

a:hover {
  text-decoration: underline;
}

/* Hero Section */

/* .hero {
  position: relative;
  max-width: 100%;
  height: auto;
}

.yosemite-img {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 1.25rem;
} */

/* Search Bar Section */
.search-bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 3.125rem;
  background-color: #054d28;
  width: 100%;
}

.search-bar input {
  width: 5rem;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
  padding: 0.625rem;
  background-color: slategray;
  color: black;
  margin: 0.625rem;
  cursor: pointer;
}

.search-bar select {
  width: 35rem;
  height: 2.5rem;
  border-radius: 5px;
  font-size: 1.25rem;
  text-align: center;
}

.result-header {
  font-size: 3.125rem;
  margin-left: 3rem;
}

/* Results Section */

.parks-result {
  list-style: none;
}

.parks-result a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.5rem;
}

.parks-result li {
  font-size: 1.875rem;
  text-align: center;
}

.park-img {
  width: 100%;
  height: 300px;
  padding: 10px;
  object-fit: cover;
}

.parks-result p {
  font-size: 1.125rem;
}

/* Park Info Page */

.park-info-img {
  width: 100%;
  height: 600px;
  padding: 0.938rem;
  object-fit: cover;
}

.selected-park-name {
  text-decoration: underline;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.875rem;
}

.park-text {
  text-align: left;
  line-height: 2em;
  font-size: 1.125rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: sans-serif;
}

.my-parks-button {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.my-parks-button button {
  border-radius: 5px;
  border: none;
  background-color: #054d28;
  color: white;
  height: 3rem;
  width: 12rem;
  cursor: pointer;
  font-size: 20px;
}

/* Modal For Add to My Parks Button */

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
}

.modal-content {
  background-color: #054d28;
  text-align: center;
  width: 400px;
  height: 200px;
  border-radius: 5px;
  color: white;
}

.modal-content h3 {
  font-size: 1.875rem;
  font-family: sans-serif;
  margin-bottom: 3.125rem;
}

.background {
  background-color: rgb(0 0 0 / 70%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.yes-button {
  background-color: beige;
  color: green;
  border: none;
  border-radius: 5px;
  width: 4rem;
  height: 2rem;
  cursor: pointer;
}

.no-button {
  background-color: beige;
  color: red;
  border: none;
  border-radius: 5px;
  width: 4rem;
  height: 2rem;
  cursor: pointer;
}

.modal-content button {
  margin-left: 0.938rem;
  margin-right: 0.938rem;
}

/* My Parks Page */

.my-parks-header {
  font-size: 3.125rem;
  margin-left: 3rem;
}

.my-parks-img {
  width: 600px;
  height: 400px;
  object-fit: cover;
  padding: 0.625rem;
}

.my-parks-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
}

.park-link {
  color: black;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.remove-park {
  color: red;
  font-size: 1.5rem;
}

/* Modal for Remove My Parks */
.my-parks-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
}

.my-parks-modal-content {
  background-color: #054d28;
  text-align: center;
  width: 400px;
  height: 200px;
  border-radius: 5px;
  color: white;
}

.my-parks-modal-content h3 {
  font-size: 1.5rem;
  font-family: sans-serif;
  margin-bottom: 3.125rem;
}

.my-parks-modal-content button {
  margin-left: 1rem;
  margin-right: 1rem;
}

.remove-yes {
  background-color: beige;
  color: green;
  border: none;
  border-radius: 5px;
  width: 4rem;
  height: 2rem;
  cursor: pointer;
}

.remove-no {
  background-color: beige;
  color: red;
  border: none;
  border-radius: 5px;
  width: 4rem;
  height: 2rem;
  cursor: pointer;
}
